{{- $systemType := promptStringOnce . "systemType" "Is this a personal or CMS system? (personal/cms)" -}}

[data]
systemType = {{ $systemType | quote }}
isCMS = {{ eq $systemType "cms" }}

[git]
    # Automatically commit and push any changes to the chezmoi source directory.
    autoCommit = true
    autoPush = true
