{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

##
# This file, paired with the `.chezmoidata/system_packages_autoinstall.yaml` manifest/data file,
# configures chezmoi to automatically install the packages listed in the manfest when
# `chezmoi apply` detects/applies changes to the manifest/data file.
##

brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range .packages.macos.homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.macos.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
