theme "tokyo-night-storm"

session_serialization true
serialize_pane_viewport true
scrollback_lines_to_serialize 0

web_client {
    font "monospace"
}

web_server true
web_sharing "on"
web_server_ip "127.0.0.1"
web_server_port 58082

{{- $nu := lookPath "nu" }}
{{- if $nu }}
default_shell "{{ $nu }}"
{{- end }}
